/* ------TABLE OF CONTENTS
1. COLORS
2. TYPOGRAPHY
3. GLOBAL STYLES





------------------------*/


/* -----------1.COLORS 

#fe5353, rgb(254, 83, 83), hsl(0, 99%, 66%);
#00013d, rgb(0, 1, 61), hsl(239, 100%, 12%);
#16617f, rgb(22, 97, 127), hsl(197, 70%, 29%);
#30c9fe, rgb(48, 201, 254), hsl(195, 99%, 59%);
#f3d09c, rgba(243, 208, 156, 1), hsl(36, 78%, 78%);
#ffffff, rgb(255, 255, 255), hsl(0, 0%, 100%);

------------------*/


/* -------------2.TYPOGRAPHY

font-family: 'Permanent Marker', cursive;
font-family: 'Monday Routines';

------------------------*/


/* ------------3.GLOBAL STYLES
------------------------------
------------------------------
----------------------------*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-image: url("../assets/images/meredblue.png"), radial-gradient(circle, rgba(48, 201, 254, 1) 20%, rgba(243, 208, 156, 1) 67%, rgba(254, 83, 83, 1) 82%, rgba(22, 97, 127, 1) 87%, rgba(24, 25, 25, 1) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    background: none;
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
}

h1 {
    font-size: clamp(5rem, 6vw, 7rem);
}

h2 {
    font-size: clamp(4rem, 5vw, 6rem);
}

h3 {
    font-size: clamp(3rem, 4vw, 5rem);
}

p,
h4,
h5,
h6 {
    font-size: clamp(2rem, 2vw, 3rem);
}

.dark-blue-outline {
    text-shadow: 2px 2px 2px #00013d, -2px 2px 2px #00013d, 2px -2px 2px #00013d, 1px 2px 2px #00013d, 2px 1px 2px #00013d, -1px 2px 2px #00013d, 2px -1px 2px #00013d, 1px -2px 2px #00013d, -2px 1px 2px #00013d, -1px -2px 2px #00013d, -2px -1px 2px #00013d, 1px 1px 2px #00013d, -1px -1px 2px #00013d, -1px 1px 2px #00013d, 1px -1px 2px #00013d, 0px 2px 2px #00013d, 2px 0px 2px #00013d, -2px 0px 2px #00013d, 0px -2px 2px #00013d, 0px 1px 2px #00013d, 1px 0px 2px #00013d, 0px -1px 2px #00013d, -1px 0px 2px #00013d, 0px 0px 2px #00013d;
}

.white-outline {
    text-shadow: 2px 2px 2px #ffffff, -2px 2px 2px #ffffff, 2px -2px 2px #ffffff, 1px 2px 2px #ffffff, 2px 1px 2px #ffffff, -1px 2px 2px #ffffff, 2px -1px 2px #ffffff, 1px -2px 2px #ffffff, -2px 1px 2px #ffffff, -1px -2px 2px #ffffff, -2px -1px 2px #ffffff, 1px 1px 2px #ffffff, -1px -1px 2px #ffffff, -1px 1px 2px #ffffff, 1px -1px 2px #ffffff, 0px 2px 2px #ffffff, 2px 0px 2px #ffffff, -2px 0px 2px #ffffff, 0px -2px 2px #ffffff, 0px 1px 2px #ffffff, 1px 0px 2px #ffffff, 0px -1px 2px #ffffff, -1px 0px 2px #ffffff, 0px 0px 2px #ffffff;
}

.red-outline {
    text-shadow: 2px 2px 2px #fe5353, -2px 2px 2px #fe5353, 2px -2px 2px #fe5353, 1px 2px 2px #fe5353, 2px 1px 2px #fe5353, -1px 2px 2px #fe5353, 2px -1px 2px #fe5353, 1px -2px 2px #fe5353, -2px 1px 2px #fe5353, -1px -2px 2px #fe5353, -2px -1px 2px #fe5353, 1px 1px 2px #fe5353, -1px -1px 2px #fe5353, -1px 1px 2px #fe5353, 1px -1px 2px #fe5353, 0px 2px 2px #fe5353, 2px 0px 2px #fe5353, -2px 0px 2px #fe5353, 0px -2px 2px #fe5353, 0px 1px 2px #fe5353, 1px 0px 2px #fe5353, 0px -1px 2px #fe5353, -1px 0px 2px #fe5353, 0px 0px 2px #fe5353;
}

.mid-blue-outline {
    text-shadow: 2px 2px 2px #16617f, -2px 2px 2px #16617f, 2px -2px 2px #16617f, 1px 2px 2px #16617f, 2px 1px 2px #16617f, -1px 2px 2px #16617f, 2px -1px 2px #16617f, 1px -2px 2px #16617f, -2px 1px 2px #16617f, -1px -2px 2px #16617f, -2px -1px 2px #16617f, 1px 1px 2px #16617f, -1px -1px 2px #16617f, -1px 1px 2px #16617f, 1px -1px 2px #16617f, 0px 2px 2px #16617f, 2px 0px 2px #16617f, -2px 0px 2px #16617f, 0px -2px 2px #16617f, 0px 1px 2px #16617f, 1px 0px 2px #16617f, 0px -1px 2px #16617f, -1px 0px 2px #16617f, 0px 0px 2px #16617f;
}

.light-blue-outline {
    text-shadow: 2px 2px 2px #30c9fe, -2px 2px 2px #30c9fe, 2px -2px 2px #30c9fe, 1px 2px 2px #30c9fe, 2px 1px 2px #30c9fe, -1px 2px 2px #30c9fe, 2px -1px 2px #30c9fe, 1px -2px 2px #30c9fe, -2px 1px 2px #30c9fe, -1px -2px 2px #30c9fe, -2px -1px 2px #30c9fe, 1px 1px 2px #30c9fe, -1px -1px 2px #30c9fe, -1px 1px 2px #30c9fe, 1px -1px 2px #30c9fe, 0px 2px 2px #30c9fe, 2px 0px 2px #30c9fe, -2px 0px 2px #30c9fe, 0px -2px 2px #30c9fe, 0px 1px 2px #30c9fe, 1px 0px 2px #30c9fe, 0px -1px 2px #30c9fe, -1px 0px 2px #30c9fe, 0px 0px 2px #30c9fe;
}

.name {
    font-family: 'Monday Routines';
    font-weight: 900;
}

.copy {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-container {
    display: inline-block;
}

.logo {
    margin: 15px 30px;
    width: 5rem;
    height: auto;
}

.nav-container {
    display: flex;
}

nav {
    flex-grow: 1;
}

.nav-list {
    display: flex;
}

.nav-list-item,
.small-nav-list-item {
    font-size: clamp(2rem, 2vw, 3rem);
    padding: 10px;
}

.nav-list-item:first-child {
    margin-left: auto;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
}

.hide-nav {
    display: none;
}

.nav-toggle-container {
    display: flex;
    flex-grow: 1;
}

.toggle-btn {
    margin-right: auto;
    padding: 15px 30px;
    color: #fff;
}

.small-nav-list {
    display: block;
    position: absolute;
    top: 10%;
    background-color: white;
    width: 100%;
}

@media screen and (min-width: 501px) {
    .nav-toggle-container {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    nav {
        display: none;
    }
}